<!--<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
-->
<p id="notice"><%= notice %></p>
<div class="first">
  <h1>Save your memories</h1>
  <h3>Do you like traveling? Great! You can use this site to connect pictures from your trips with descriptions. Use it as a diary to make your memories unforgettable. If you want to see how it works just log in as a <i>user@example.com</i> with password <i>user</i>.</h3> 
  <p>Log in or create new account. </p>

<% if flash[:alert] %>
  <%= flash[:alert] %>
<% end %>
<%= form_tag do %>
  <div>
    <%= label_tag :email, 'Email:' %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div>
    <%= label_tag :password, 'Password:' %>
    <%= password_field_tag :password, params[:password] %>
  </div>
  <div>
    <%= submit_tag "Log in" %>
  </div>
<% end %>
<%= link_to 'Click if you do not have an account', new_user_path %>
</div>
